img {
	float: left;
	padding: 2px;
	background-color: grey;
	margin: 6px;
}
.sidebar {
	width: 30%;
	float: right;
	background-color: yellow;
	border: 3px solid blue;
	padding: 4px;
	margin: 6px;
	
}
.column {
	width: 300px;
	float: left;
}